*{
    margin: 0;
    padding: 0%;
}
body{
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,221,199,1) 0%, rgba(37,186,95,1) 100%);
}
.sampleSection{
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}
.sotringlist{
    background: rgb(110,156,157);
    background: linear-gradient(0deg, rgba(110,156,157,1) 0%, rgba(218,184,111,1) 100%); 
}
.sortingdiv{
    display: flex;
   height: 10vh;
}