@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0%;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300
}
body{
    background-color: #0A6847;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-around;
}
.offersection{
    display: flex;
    justify-content: space-around;
}
.slidingbox{
    border-radius: 10px;
    /* border: red solid 1px; */
    width: 80vw;
    overflow: hidden;
}


  /*? side  */
  .slider-container {
    position: relative;
    width: 100%;
    height: 25vh;
    margin: auto;
    overflow: hidden;
    touch-action: pan-y;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.dot-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 2vw;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}
.slide img {
    /* width: 200px; */
    height: 100 rem;
    object-fit:fill;
  }
  .menuSection img{
    width: 55%;
  }
  .menuList{
    display: flex;
    align-items: center;
  }
  .freshJuices{
    border: white solid 2px;
    display: flex;
    font-size: .4em;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    text-align: left;
    width: 50%;


  }